.button-container {
    display: flex;   
    justify-content: space-between;
    width: 100%; 
    margin-top: 1rem;  
}

.button-container button {
    flex: 1; 
    margin: 0 0.5rem; 
}



@media (min-width: 300px) and (max-width: 600px) {
    .button-container {
        justify-content: space-around; 
    }

    .button-container button {
        min-width: 0; 
    }
    
}
